.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .8rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .45rem;
    }
  }

  .btn, .gumroad-button  {
    margin: 1rem 0;
  }
}


.notice {
  background-color: #dbeff1;        
  border-left: 4px solid #4FB1BA;   
  padding: 16px;                    
  margin: 20px 0;                  
  border-radius: 4px;             
  line-height: 1.5;              
  position: relative;           
  text-align: center;
}

#disqus_thread:empty + .notice {
  display: block;
}